.profcon{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.info
{
    display:flex;
    justify-content: flex-start;
    
}
.info .row{
    margin:10px;
    display:flex;
    flex-direction: column;
    gap:2.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.photo{
    margin-top:10px;
}
.photo img{
    width:180px;
}

.appointment-container{
    
    height:80vh;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.form-container{
    padding:10px 0px 32px 32px;
    display: flex;
    flex-direction: column;
    gap:3rem;
}
.form-container .input{
    background-color: white;
}
.form-container label{
    width:215px;
    display: inline-block;
}
.disabled{
    background:gray;
    cursor:not-allowed;
    height: 30px ;
    width: 85px;
    
}
/* filter search */
.filter select{
    background:white;
}
.abovelist {
    display:flex;
    justify-content: space-between;
    padding:10px 5px 0px 5px;
}
.filter select{
    height:45px;
    width:137px;
    margin-left:5px;
}

.apt-search input{
    width:350px;
    height:45px;
    border-radius:5px;
    font-size:1.15rem;
    margin-right:10px;
}